/* about / Haxelib */

.about-title, .haxelib-title {
    font-family: "AgencyFB", Arial, Helvetica;
    font-size: 38px;   
    margin-top: 50px;
    margin-bottom: 30px;
}

.about-info > div > p, .haxelib-info > div > p {
    font-family: "OpenSans", Arial, Helvectica;
    font-size: 16px;
}

.about-subtitle  {
    font-family: "AgencyFB", Arial, Helvectica;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.about-desc {
    font-family: "OpenSans", Arial, Helvectica;
    font-size: 16px;
    text-align: justify;
}

.about-logo {
    display: block;
    margin: 80px auto;
    max-width: 50%;
    height: auto;
}

@media(min-width:991px) {

    .about-logo {
        margin: 30px auto;
        max-width: 70%;
        height: auto;
    }

}

.well {
    background-color: #FFF;
}
